<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22a99310-dac9-4d2a-bc5f-35b99d3ce84c" Alias="About - ContactForm2 - Form Details Picker Property Editor" Level="1">
  <Info>
    <Name>About - ContactForm2 - Form Details Picker Property Editor</Name>
    <EditorAlias>UmbracoForms.FormDetailsPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormDetailsPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowedForms": [
    "d6c1cc68-6ee0-42a9-8832-687bfb4f83d4"
  ],
  "includeThemePicker": true
}]]></Config>
</DataType>