<?xml version="1.0" encoding="utf-8"?>
<DataType Key="275265c1-e0f6-4c54-a7d6-c206e80f48bc" Alias="Game - Search Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Game - Search Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8edca77f-27dd-42dc-be3e-e37feb2d968d",
      "label": "Search Block"
    }
  ]
}]]></Config>
</DataType>