<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f9b7e38-51f6-42d6-9911-d42eee9e126c" Alias="GameEnded -  - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>GameEnded -  - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>