<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff834189-84a0-4d51-8891-9c0f36a0d409" Alias="Header - Navigation Links - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Header - Navigation Links - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9"
    }
  ]
}]]></Config>
</DataType>