<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee88f77a-356e-4744-b4b1-aa4c479b0109" Alias="Header - Logo - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Header - Logo - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>