<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64472c25-bb7c-455e-801b-71801080a546" Alias="Header - Nav Links - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Header - Nav Links - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "label": "navLinks"
    }
  ]
}]]></Config>
</DataType>