<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f7ebb24-93f0-44ae-8855-be606ddabcbe" Alias="Logo Image" Level="1">
  <Info>
    <Name>Logo Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>