<?xml version="1.0" encoding="utf-8"?>
<DataType Key="438aadd3-9938-4fd4-88cf-907c9f1a808b" Alias="Quiz -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Quiz -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c67ecd9a-e4d4-4065-8be9-5652d91d27c8",
      "label": "Join Room Block"
    }
  ]
}]]></Config>
</DataType>