<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32788a9c-d393-4e2b-bb7e-db35781b66e2" Alias="Start - Buttons - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Start - Buttons - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333"
    }
  ]
}]]></Config>
</DataType>