<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64dfc3cc-c82f-4527-aa97-59fccd8e91f7" Alias="Start - Footer - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Start - Footer - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ec4e92a3-37d7-4664-a576-d4e52f1d103f",
      "label": "Footer"
    }
  ]
}]]></Config>
</DataType>