<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94632a8f-34b4-419f-8ed4-d01d415f8130" Alias="Start - QuizCards - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Start - QuizCards - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a66c37e4-19a0-4b3d-bc19-7596f2a6f2d5",
      "label": "QuizCards"
    }
  ]
}]]></Config>
</DataType>