<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf422f0a-8c6f-4d98-94d5-ef374d4d0cba" Alias="domkyrkan2.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/domkyrkan2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-18T14:48:10</CreateDate>
    <NodeName Default="domkyrkan2.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qxsbicig/domkyrkan2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>