<?xml version="1.0" encoding="utf-8"?>
<Media Key="c32ad887-d198-4b9f-9baa-584dcc45e440" Alias="mediaplayer.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mediaplayersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-21T12:20:14</CreateDate>
    <NodeName Default="mediaplayer.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ovsjqimd/mediaplayer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>