<?xml version="1.0" encoding="utf-8"?>
<Media Key="1eca2b39-1d9a-4d1e-bc06-1c6a7b315970" Alias="PartyImage.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartyImagewebp</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-10-23T11:51:50</CreateDate>
    <NodeName Default="PartyImage.webp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zjbddpv3/partyimage.webp]]></Value>
    </umbracoFile>
  </Properties>
</Media>