<?xml version="1.0" encoding="utf-8"?>
<Media Key="d133de56-9446-4fb4-a4c2-42c34fb22bc1" Alias="PartImage.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartImagejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-11-07T16:19:44</CreateDate>
    <NodeName Default="PartImage.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uw1mq2lb/partimage.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>