<?xml version="1.0" encoding="utf-8"?>
<Domain Key="74cf71c7-0000-0000-0000-000000000000" Alias="/en/answer">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="538ed7cd-8935-4d09-bbee-b18bbf00594e">/Answer</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>