<?xml version="1.0" encoding="utf-8"?>
<Domain Key="2e24f89a-0000-0000-0000-000000000000" Alias="/en/howtoplay">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="5a837324-9ebe-4409-945a-969f30d538dd">/HowToPlay</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>