<?xml version="1.0" encoding="utf-8"?>
<Domain Key="e0fa0778-0000-0000-0000-000000000000" Alias="/sv/howtoplay">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>sv</Language>
    <Root Key="5a837324-9ebe-4409-945a-969f30d538dd">/HowToPlay</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>