<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a192d0e2-0000-0000-0000-000000000000" Alias="sv/scoreboard">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>sv</Language>
    <Root Key="c1e5370d-d7c1-4b0b-857b-e2b2b1182108">/Poängtavla</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>