<?xml version="1.0" encoding="utf-8"?>
<Content Key="538ed7cd-8935-4d09-bbee-b18bbf00594e" Alias="Answer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Answer</Path>
    <Trashed>false</Trashed>
    <ContentType>answerForm</ContentType>
    <CreateDate>2024-11-07T10:48:39</CreateDate>
    <NodeName Default="Answer">
      <Name Culture="en-US">Answer</Name>
      <Name Culture="sv">Answer</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerHeading>
      <Value Culture="en-US"><![CDATA[QUIZIFY]]></Value>
      <Value Culture="sv"><![CDATA[QUIZIFY]]></Value>
    </answerHeading>
    <answerMainText>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003EListen to the song and put in the song name and artist name in the fields!\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "markup": "\u003Cp\u003ELyssna p\u00E5 l\u00E5ten och skriv in \u003Cstrong\u003Eartist \u003C/strong\u003Eoch \u003Cstrong\u003El\u00E5tnamn\u0026nbsp;\u003C/strong\u003Ei f\u00E4lten!\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </answerMainText>
    <artistFormLabel>
      <Value Culture="en-US"><![CDATA[Guess the artist:]]></Value>
      <Value Culture="sv"><![CDATA[Gissa artisten:]]></Value>
    </artistFormLabel>
    <artistFormPlaceholder>
      <Value Culture="en-US"><![CDATA[Mauritz...]]></Value>
      <Value Culture="sv"><![CDATA[Mauritz...]]></Value>
    </artistFormPlaceholder>
    <buttonText>
      <Value Culture="en-US"><![CDATA[Guess!]]></Value>
      <Value Culture="sv"><![CDATA[Gissa!]]></Value>
    </buttonText>
    <songFormLabel>
      <Value Culture="en-US"><![CDATA[Guess the song:]]></Value>
      <Value Culture="sv"><![CDATA[Gissa låtnamnet:]]></Value>
    </songFormLabel>
    <songFormPlaceholder>
      <Value Culture="en-US"><![CDATA[Aftonens natt...]]></Value>
      <Value Culture="sv"><![CDATA[Aftonens natt...]]></Value>
    </songFormPlaceholder>
  </Properties>
</Content>