<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fdc11e2-d2a1-4e1e-a2f0-63188133ebad" Alias="Footer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer20</ContentType>
    <CreateDate>2024-11-06T11:55:32</CreateDate>
    <NodeName Default="Footer">
      <Name Culture="en-US">Footer</Name>
      <Name Culture="sv">Footer</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cookieConsent>
      <Value Culture="en-US"><![CDATA[Cookie Settings]]></Value>
      <Value Culture="sv"><![CDATA[Cookie-inställningar]]></Value>
    </cookieConsent>
    <copyrightText>
      <Value Culture="en-US"><![CDATA[© 2024 Quizify. All rights reserved.]]></Value>
      <Value Culture="sv"><![CDATA[© 2024 Quizify. Alla rättigheter förbehållna.]]></Value>
    </copyrightText>
    <copyrightTextSmall>
      <Value Culture="en-US"><![CDATA[© 2024 Quizify.]]></Value>
      <Value Culture="sv"><![CDATA[© 2024 Quizify.]]></Value>
    </copyrightTextSmall>
    <pageLinks>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "About us",
    "target": null,
    "udi": null,
    "url": "http://localhost:3000/en/about",
    "queryString": null
  },
  {
    "name": "FAQ",
    "target": null,
    "udi": null,
    "url": "http://localhost:3000/en/howtoplay",
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "Om oss",
    "target": null,
    "udi": null,
    "url": "http://localhost:3000/sv/about",
    "queryString": null
  },
  {
    "name": "FAQ",
    "target": null,
    "udi": null,
    "url": "http://localhost:3000/sv/howtoplay",
    "queryString": null
  }
]]]></Value>
    </pageLinks>
    <socialMediaLinks>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Instagram",
    "target": null,
    "udi": null,
    "url": "https://www.instagram.com/",
    "queryString": null
  },
  {
    "name": "Facebook",
    "target": null,
    "udi": null,
    "url": "https://www.facebook.com/",
    "queryString": null
  },
  {
    "name": "X",
    "target": null,
    "udi": null,
    "url": "https://www.x.com/",
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "Instagram",
    "target": null,
    "udi": null,
    "url": "https://www.instagram.com/",
    "queryString": null
  },
  {
    "name": "Facebook",
    "target": null,
    "udi": null,
    "url": "https://www.facebook.com/",
    "queryString": null
  },
  {
    "name": "X",
    "target": null,
    "udi": null,
    "url": "https://www.x.com/",
    "queryString": null
  }
]]]></Value>
    </socialMediaLinks>
    <title>
      <Value Culture="en-US"><![CDATA[Help & Support]]></Value>
      <Value Culture="sv"><![CDATA[Hjälp & Support]]></Value>
    </title>
  </Properties>
</Content>