<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f173bbc-fe4f-4dfe-9793-ceafc6c669ed" Alias="Game" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Game</Path>
    <Trashed>false</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2024-11-04T10:46:45</CreateDate>
    <NodeName Default="Game">
      <Name Culture="en-US">Game</Name>
      <Name Culture="sv">Game</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <endGameButton>
      <Value Culture="en-US"><![CDATA[End Game]]></Value>
      <Value Culture="sv"><![CDATA[Avsluta Spel]]></Value>
    </endGameButton>
    <heading>
      <Value Culture="en-US"><![CDATA[Game]]></Value>
      <Value Culture="sv"><![CDATA[Spel]]></Value>
    </heading>
    <lobbyHeading>
      <Value Culture="en-US"><![CDATA[Players]]></Value>
      <Value Culture="sv"><![CDATA[Spelare]]></Value>
    </lobbyHeading>
    <mediaPlayerHeading>
      <Value Culture="en-US"><![CDATA[Song is playing...]]></Value>
      <Value Culture="sv"><![CDATA[Låt spelas....]]></Value>
    </mediaPlayerHeading>
    <playlistBy>
      <Value Culture="en-US"><![CDATA[By]]></Value>
      <Value Culture="sv"><![CDATA[Av]]></Value>
    </playlistBy>
    <playlistDescription>
      <Value Culture="en-US"><![CDATA[No description available]]></Value>
      <Value Culture="sv"><![CDATA[Ingen beskrivning tillgänglig]]></Value>
    </playlistDescription>
    <searchButtonText>
      <Value Culture="en-US"><![CDATA[Search]]></Value>
      <Value Culture="sv"><![CDATA[Sök]]></Value>
    </searchButtonText>
    <searchByPlaylist>
      <Value Culture="en-US"><![CDATA[Search by playlist]]></Value>
      <Value Culture="sv"><![CDATA[Sök spellista]]></Value>
    </searchByPlaylist>
    <searchByUser>
      <Value Culture="en-US"><![CDATA[Search by user]]></Value>
      <Value Culture="sv"><![CDATA[Sök användare]]></Value>
    </searchByUser>
    <searchPlaceholder>
      <Value Culture="en-US"><![CDATA[Search]]></Value>
      <Value Culture="sv"><![CDATA[Sök]]></Value>
    </searchPlaceholder>
    <searchResultsText>
      <Value Culture="en-US"><![CDATA[Search Results]]></Value>
      <Value Culture="sv"><![CDATA[Sökresultat]]></Value>
    </searchResultsText>
  </Properties>
</Content>