<?xml version="1.0" encoding="utf-8"?>
<Content Key="04fde13a-cb9c-46c4-aade-9dbc62ecf71c" Alias="Header" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2024-10-25T10:57:16</CreateDate>
    <NodeName Default="Header">
      <Name Culture="en-US">Header</Name>
      <Name Culture="sv">Header</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationLinks>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "udi": "umb://element/9fb4a9d95d3e4248880b482c3edf1067",
      "linkText": "Quiz",
      "linkUrl": "/en/quiz"
    },
    {
      "contentTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "udi": "umb://element/491d3a95ceb14ef6b0847acb5c622def",
      "linkText": "Home",
      "linkUrl": "/en"
    },
    {
      "contentTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "udi": "umb://element/daaf4965ff63464381ea3ef0c3793c7a",
      "linkText": "About Us",
      "linkUrl": "/en/about"
    },
    {
      "contentTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "udi": "umb://element/81f79e986eea49898a278318789683cf",
      "linkText": "FAQ",
      "linkUrl": "/en/howtoplay"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/491d3a95ceb14ef6b0847acb5c622def",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9fb4a9d95d3e4248880b482c3edf1067",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/daaf4965ff63464381ea3ef0c3793c7a",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/81f79e986eea49898a278318789683cf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "udi": "umb://element/b2c1d3be327d427c921b7221080806fb",
      "linkText": "Quiz",
      "linkUrl": "/sv/quiz"
    },
    {
      "contentTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "udi": "umb://element/9eaae7d6de074c53a6ba6c0f43e787ea",
      "linkText": "Hem",
      "linkUrl": "/sv"
    },
    {
      "contentTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "udi": "umb://element/9059d3c4447144339b9cd4270e78cacd",
      "linkText": "Om Oss",
      "linkUrl": "/sv/about"
    },
    {
      "contentTypeKey": "f6b6f410-8c59-443b-a75b-cf44d6d69aa9",
      "udi": "umb://element/174bb5e2e4eb4349adbf65476205c8f2",
      "linkText": "FAQ",
      "linkUrl": "/sv/howtoplay"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9eaae7d6de074c53a6ba6c0f43e787ea",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b2c1d3be327d427c921b7221080806fb",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9059d3c4447144339b9cd4270e78cacd",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/174bb5e2e4eb4349adbf65476205c8f2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </navigationLinks>
    <pageTitle>
      <Value Culture="en-US"><![CDATA[Quizify]]></Value>
      <Value Culture="sv"><![CDATA[Quizify]]></Value>
    </pageTitle>
  </Properties>
</Content>