<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f0e807e-153f-4982-a16c-322d53b3a159" Alias="Hem" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hem</Path>
    <Trashed>false</Trashed>
    <ContentType>start</ContentType>
    <CreateDate>2024-10-17T14:45:25</CreateDate>
    <NodeName Default="Hem">
      <Name Culture="en-US">Start</Name>
      <Name Culture="sv">Hem</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="d4b9799d-04d6-40e4-ba5e-38eac013beb5">start</Template>
  </Info>
  <Properties>
    <backgroundImg>
      <Value><![CDATA[[
  {
    "key": "4f51e297-0cb2-47e5-b0a6-9f24c7abba7e",
    "mediaKey": "d133de56-9446-4fb4-a4c2-42c34fb22bc1",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImg>
    <botSubHeading>
      <Value Culture="en-US"><![CDATA[Create your own or play featured quizez!]]></Value>
      <Value Culture="sv"><![CDATA[Skapa din egna eller spela färdiga quizar!]]></Value>
    </botSubHeading>
    <buttons>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
      "udi": "umb://element/8de59482b8084aa8aa8f03b5e89d658b",
      "buttonText": "How to play",
      "buttonStyle": null,
      "buttonUrl": "http://localhost:3000/en/howtoplay"
    },
    {
      "contentTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
      "udi": "umb://element/9f6996768468453891b15acd2eeeee48",
      "buttonText": "Learn more",
      "buttonUrl": "http://localhost:3000/en/about",
      "buttonStyle": null
    },
    {
      "contentTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
      "udi": "umb://element/83153888cfe1480ea3ca3547ab3dc3e5",
      "buttonText": "Play QUIZIFY \uD83D\uDE80",
      "buttonStyle": null,
      "buttonUrl": "http://localhost:3000/en/quiz"
    },
    {
      "contentTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
      "udi": "umb://element/da19fcb196e84a0b928a8c0ea212acaf",
      "buttonText": "Featured quizez",
      "buttonStyle": null
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8de59482b8084aa8aa8f03b5e89d658b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9f6996768468453891b15acd2eeeee48",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/83153888cfe1480ea3ca3547ab3dc3e5",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/da19fcb196e84a0b928a8c0ea212acaf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
      "udi": "umb://element/15d45d8545cd4ab0932cf4d0d830b47f",
      "buttonText": "Hur man spelar",
      "buttonStyle": null,
      "buttonUrl": "http://localhost:3000/sv/howtoplay"
    },
    {
      "contentTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
      "udi": "umb://element/5e5402e3ebb14c38bb17c9484c05e77d",
      "buttonStyle": null,
      "buttonText": "L\u00E4r dig mer",
      "buttonUrl": "http://localhost:3000/sv/about"
    },
    {
      "contentTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
      "udi": "umb://element/8f29c303e6a24dacb991ed04d9f5f83f",
      "buttonText": "Spela QUIZIFY \uD83D\uDE80",
      "buttonStyle": null,
      "buttonUrl": "http://localhost:3000/sv/quiz"
    },
    {
      "contentTypeKey": "38d6dcb7-2153-46ee-bff1-9fc9706d4333",
      "udi": "umb://element/b05367915a2840fcab079ba039da6f73",
      "buttonText": "F\u00E4rdiga quizar",
      "buttonStyle": null
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/15d45d8545cd4ab0932cf4d0d830b47f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/5e5402e3ebb14c38bb17c9484c05e77d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8f29c303e6a24dacb991ed04d9f5f83f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b05367915a2840fcab079ba039da6f73",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </buttons>
    <heading>
      <Value Culture="en-US"><![CDATA[Quizify]]></Value>
      <Value Culture="sv"><![CDATA[Quizify]]></Value>
    </heading>
    <mainParagraph>
      <Value Culture="en-US"><![CDATA[The ultimate music quiz app! Test your music knowledge against your friends with tracks from spotify. Let's get started! 🎵]]></Value>
      <Value Culture="sv"><![CDATA[Det ultimata musikquizet! Testa din musikkunskap och tävla mot dina vänner med låtar från spotify. Låt oss köra igång! 🎵]]></Value>
    </mainParagraph>
    <quizCards>
      <Value><![CDATA[]]></Value>
    </quizCards>
    <topSubHeading>
      <Value Culture="en-US"><![CDATA[Welcome to ]]></Value>
      <Value Culture="sv"><![CDATA[Välkommen till]]></Value>
    </topSubHeading>
  </Properties>
</Content>