<?xml version="1.0" encoding="utf-8"?>
<Content Key="54676cf5-aa8b-4b7c-bf7b-ac584f1ac744" Alias="JoinRoom" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JoinRoom</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>joinRoomBlock</ContentType>
    <CreateDate>2024-10-29T12:17:41</CreateDate>
    <NodeName Default="JoinRoom">
      <Name Culture="sv">JoinRoom</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <buttonText>
      <Value Culture="sv"><![CDATA[Gå med i lobby!]]></Value>
    </buttonText>
    <formJoinRoomCode>
      <Value Culture="sv"><![CDATA[Skriv in kod]]></Value>
    </formJoinRoomCode>
    <joinRoomPlaceholder>
      <Value Culture="sv"><![CDATA[Kod...]]></Value>
    </joinRoomPlaceholder>
  </Properties>
</Content>