<?xml version="1.0" encoding="utf-8"?>
<Content Key="177a5e93-cb26-49ea-9c6c-5c95d069a73f" Alias="Lobby" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lobby</Path>
    <Trashed>false</Trashed>
    <ContentType>lobby</ContentType>
    <CreateDate>2024-10-29T10:31:23</CreateDate>
    <NodeName Default="Lobby">
      <Name Culture="en-US">Lobby</Name>
      <Name Culture="sv">Lobby</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <buttonText>
      <Value Culture="en-US"><![CDATA[Play!]]></Value>
      <Value Culture="sv"><![CDATA[Spela!]]></Value>
    </buttonText>
    <listHeading>
      <Value Culture="en-US"><![CDATA[Players]]></Value>
      <Value Culture="sv"><![CDATA[Spelare]]></Value>
    </listHeading>
    <mainParagraph>
      <Value Culture="en-US"><![CDATA[Share the code with your friends:]]></Value>
      <Value Culture="sv"><![CDATA[Dela koden med dina vänner:]]></Value>
    </mainParagraph>
    <topHeading>
      <Value Culture="en-US"><![CDATA[Welcome to Your lobby!]]></Value>
      <Value Culture="sv"><![CDATA[Välkommen till din lobby!]]></Value>
    </topHeading>
    <waitingText>
      <Value Culture="en-US"><![CDATA[Waiting for the host to start the game...]]></Value>
      <Value Culture="sv"><![CDATA[Väntar på att värden ska starta spelet...]]></Value>
    </waitingText>
  </Properties>
</Content>