<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd909eee-9814-4cf2-992e-065223f1d946" Alias="Om" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Om</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2024-10-17T18:22:32</CreateDate>
    <NodeName Default="Om">
      <Name Culture="en-US">About</Name>
      <Name Culture="sv">Om</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="a1ba683a-7970-4782-a9a0-dec2b56143eb">about</Template>
  </Info>
  <Properties>
    <contact>
      <Value Culture="en-US"><![CDATA[Contact us]]></Value>
      <Value Culture="sv"><![CDATA[Kontakta oss]]></Value>
    </contact>
    <partyImage>
      <Value><![CDATA[]]></Value>
    </partyImage>
    <sectionText1>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003EPerfect for home parties. Create and play music quizzes with friends directly from Spotify \u2013 just one device is all you need for everyone to participate!\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "markup": "\u003Cp\u003EPerfekt f\u00F6r hemmafesten. Skapa och spela musikquiz med v\u00E4nner direkt fr\u00E5n Spotify \u2013 enheten r\u00E4cker f\u00F6r alla att vara med!\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </sectionText1>
    <sectionText2>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003EQuizify is designed to be simple and user-friendly. You only need one device (phone, tablet, or computer) to create and play the game. The host starts the quiz on their device, and then everyone else can join and play in teams or individually. It\u0027s perfect for home parties where you don\u2019t want to mess around with multiple phones \u2013 just one device so everyone can participate!\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "markup": "\u003Cp\u003EQuizify \u00E4r designad f\u00F6r att vara enkel och smidig att anv\u00E4nda. Du beh\u00F6ver bara en enhet (telefon, surfplatta eller dator) f\u00F6r att skapa och spela spelet. Hosten startar quizet p\u00E5 sin enhet, och sedan kan alla andra ansluta sig och spela i lag eller individuellt. Det \u00E4r perfekt f\u00F6r hemmafesten d\u00E4r man inte vill h\u00E5lla p\u00E5 med flera telefoner \u2013 bara en enhet, s\u00E5 alla kan vara med!\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </sectionText2>
    <sectionText3>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003EQuizify was launched in 2024 with the goal of creating the ultimate party experience where music and quizzes come together. We wanted to eliminate the hassle of multiple devices and make it easy for everyone to participate in the quiz, whether they\u2019re at a friend\u2019s place or a family gathering.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "markup": "\u003Cp\u003EQuizify startade 2024 med m\u00E5let att skapa den ultimata festupplevelsen d\u00E4r musik och quiz m\u00F6ts. Vi ville ta bort kr\u00E5nglet med flera enheter och g\u00F6ra det enkelt f\u00F6r alla att delta i quizet, oavsett om man \u00E4r hemma hos v\u00E4nner eller har en familjesammankomst.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </sectionText3>
    <sectionTitle1>
      <Value Culture="en-US"><![CDATA[Quizify – Music Quiz for Everyone!]]></Value>
      <Value Culture="sv"><![CDATA[Musikquiz för alla!]]></Value>
    </sectionTitle1>
    <sectionTitle2>
      <Value Culture="en-US"><![CDATA[Easy to Play – Only One Device Needed]]></Value>
      <Value Culture="sv"><![CDATA[Enkel att Spela – Bara en Enhet Behövs]]></Value>
    </sectionTitle2>
    <sectionTitle3>
      <Value Culture="en-US"><![CDATA[Our History]]></Value>
      <Value Culture="sv"><![CDATA[Vår Historia]]></Value>
    </sectionTitle3>
    <title>
      <Value Culture="en-US"><![CDATA[About Quizify]]></Value>
      <Value Culture="sv"><![CDATA[Om Quizify]]></Value>
    </title>
  </Properties>
</Content>