<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e5370d-d7c1-4b0b-857b-e2b2b1182108" Alias="Poängtavla" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Poaengtavla</Path>
    <Trashed>false</Trashed>
    <ContentType>scoreboard</ContentType>
    <CreateDate>2024-11-12T23:50:30</CreateDate>
    <NodeName Default="Poängtavla">
      <Name Culture="en-US">Scoreboard</Name>
      <Name Culture="sv">Poängtavla</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="en-US"><![CDATA[Scoreboard]]></Value>
      <Value Culture="sv"><![CDATA[Poängtavla]]></Value>
    </title>
  </Properties>
</Content>