<?xml version="1.0" encoding="utf-8"?>
<Content Key="29eaad7d-aaf8-46eb-a355-914f4e1a4f6f" Alias="Quiz" Level="2">
  <Info>
    <Parent Key="0f0e807e-153f-4982-a16c-322d53b3a159">Hem</Parent>
    <Path>/Hem/Quiz</Path>
    <Trashed>false</Trashed>
    <ContentType>quiz</ContentType>
    <CreateDate>2024-10-21T11:30:47</CreateDate>
    <NodeName Default="Quiz">
      <Name Culture="en-US">Quiz</Name>
      <Name Culture="sv">Quiz</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <button>
      <Value Culture="en-US"><![CDATA[Create]]></Value>
      <Value Culture="sv"><![CDATA[Skapa]]></Value>
    </button>
    <createGameText>
      <Value Culture="en-US"><![CDATA[Create game]]></Value>
      <Value Culture="sv"><![CDATA[Skapa spel]]></Value>
    </createGameText>
    <formTextName>
      <Value Culture="en-US"><![CDATA[Your name]]></Value>
      <Value Culture="sv"><![CDATA[Ditt namn]]></Value>
    </formTextName>
    <formTextRoomCode>
      <Value Culture="en-US"><![CDATA[Roomcode]]></Value>
      <Value Culture="sv"><![CDATA[Kod till rum]]></Value>
    </formTextRoomCode>
    <heading>
      <Value Culture="en-US"><![CDATA[Quizify Game]]></Value>
      <Value Culture="sv"><![CDATA[Quizify Spelet]]></Value>
    </heading>
    <joinButtonText>
      <Value Culture="en-US"><![CDATA[Join!]]></Value>
      <Value Culture="sv"><![CDATA[Gå med!]]></Value>
    </joinButtonText>
    <joinRoomCode>
      <Value Culture="en-US"><![CDATA[Enter code]]></Value>
      <Value Culture="sv"><![CDATA[Skriv in kod]]></Value>
    </joinRoomCode>
    <joinRoomPlaceholder>
      <Value Culture="en-US"><![CDATA[Code...]]></Value>
      <Value Culture="sv"><![CDATA[Kod....]]></Value>
    </joinRoomPlaceholder>
    <loginButton>
      <Value Culture="en-US"><![CDATA[Log in with Spotify to create a game!]]></Value>
      <Value Culture="sv"><![CDATA[Logga in med Spotify för att skapa ett spel!]]></Value>
    </loginButton>
    <placeholderTextName>
      <Value Culture="en-US"><![CDATA[John Doe]]></Value>
      <Value Culture="sv"><![CDATA[John Doe]]></Value>
    </placeholderTextName>
    <placeholderTextRoomCode>
      <Value Culture="en-US"><![CDATA[ABCD]]></Value>
      <Value Culture="sv"><![CDATA[ABCD]]></Value>
    </placeholderTextRoomCode>
    <subtitle>
      <Value Culture="en-US"><![CDATA[Create or join a game]]></Value>
      <Value Culture="sv"><![CDATA[Skapa eller hoppa in i ett spel]]></Value>
    </subtitle>
  </Properties>
</Content>