<?xml version="1.0" encoding="utf-8"?>
<Content Key="edc80b77-cfec-4f1e-955e-9baced9bdc4e" Alias="search" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/search</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2024-10-17T15:37:17</CreateDate>
    <NodeName Default="search">
      <Name Culture="sv">search</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="223436cf-d9f0-427b-acd3-e82889e85f83">search</Template>
  </Info>
  <Properties>
    <searchQuery>
      <Value Culture="sv"><![CDATA[Sök efter en låt..]]></Value>
    </searchQuery>
  </Properties>
</Content>