<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ad7c2e1-c2e9-42aa-842c-49bd260dacc5" Alias="SlutSida" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SlutSida</Path>
    <Trashed>false</Trashed>
    <ContentType>endGame</ContentType>
    <CreateDate>2024-11-17T23:49:16</CreateDate>
    <NodeName Default="SlutSida">
      <Name Culture="en-US">GameEnded</Name>
      <Name Culture="sv">SlutSida</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en-US"><![CDATA[Game over!]]></Value>
      <Value Culture="sv"><![CDATA[Spelet är slut!]]></Value>
    </heading>
    <links>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Play again",
    "target": null,
    "udi": null,
    "url": "http://localhost:3000/en/quiz",
    "queryString": null
  },
  {
    "name": "Return to homepage",
    "target": null,
    "udi": null,
    "url": "http://localhost:3000/en/",
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "Spela igen",
    "target": null,
    "udi": null,
    "url": "http://localhost:3000/sv/quiz",
    "queryString": null
  },
  {
    "name": "Till startsidan",
    "target": null,
    "udi": null,
    "url": "http://localhost:3000/sv/",
    "queryString": null
  }
]]]></Value>
    </links>
    <subHeading>
      <Value Culture="en-US"><![CDATA[Thanks for playing! Here are the results for this round.]]></Value>
      <Value Culture="sv"><![CDATA[Tack för att du spelade! Här är resultatet av denna omgång.]]></Value>
    </subHeading>
    <subText>
      <Value Culture="en-US"><![CDATA[Want to play again or return to the homepage?]]></Value>
      <Value Culture="sv"><![CDATA[Vill du spela igen eller återvända till startsidan?]]></Value>
    </subText>
  </Properties>
</Content>