<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6a48667-4a95-4b93-a257-d097b524edcd" Alias="Svar (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Svar1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>answerForm</ContentType>
    <CreateDate>2024-11-07T11:24:12</CreateDate>
    <NodeName Default="Svar (1)">
      <Name Culture="en-US">Answer (1)</Name>
      <Name Culture="sv">Svar (1)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <artistFormLabel>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </artistFormLabel>
    <artistFormPlaceholder>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </artistFormPlaceholder>
    <buttonText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </buttonText>
    <songFormLabel>
      <Value Culture="en-US"><![CDATA[Enter song guess:]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </songFormLabel>
    <songFormPlaceholder>
      <Value Culture="en-US"><![CDATA[Aftonens natt..]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </songFormPlaceholder>
  </Properties>
</Content>